* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #;
  --primary-light-color: #;
  --primary-dark-color: #;
  --secondary-color: #;
  --secondary-light-color: #;
  --secondary-dark-color: #;
}

html,
body,
#app,
#app > div {
  height: 100%;
}
